# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/starter-app/dist
/starter-app/tmp
/starter-app/out-tsc
/basics-assignment-1-start/dist
/basics-assignment-1-start/tmp
/basics-assignment-1-start/out-tsc
/basics-assignment-2-start/dist
/basics-assignment-2-start/tmp
/basics-assignment-2-start/out-tsc
/basics-assignment-3-start/dist
/basics-assignment-3-start/tmp
/basics-assignment-3-start/out-tsc

# dependencies
/starter-app/node_modules
/basics-assignment-1-start/node_modules
/basics-assignment-2-start/node_modules
/basics-assignment-3-start/node_modules

# IDEs and editors
/starter-app/.idea
/starter-app/.project
/starter-app/.classpath
/starter-app/.c9/
/starter-app/*.launch
/starter-app/.settings/
/starter-app/*.sublime-workspace
/basics-assignment-1-start/.idea
/basics-assignment-1-start/.project
/basics-assignment-1-start/.classpath
/basics-assignment-1-start/.c9/
/basics-assignment-1-start/*.launch
/basics-assignment-1-start/.settings/
/basics-assignment-1-start/*.sublime-workspace
/basics-assignment-2-start/.idea
/basics-assignment-2-start/.project
/basics-assignment-2-start/.classpath
/basics-assignment-2-start/.c9/
/basics-assignment-2-start/*.launch
/basics-assignment-2-start/.settings/
/basics-assignment-2-start/*.sublime-workspace
/basics-assignment-3-start/.idea
/basics-assignment-3-start/.project
/basics-assignment-3-start/.classpath
/basics-assignment-3-start/.c9/
/basics-assignment-3-start/*.launch
/basics-assignment-3-start/.settings/
/basics-assignment-3-start/*.sublime-workspace

# IDE - VSCode
/starter-app/.vscode/*
/starter-app/!.vscode/settings.json
/starter-app/!.vscode/tasks.json
/starter-app/!.vscode/launch.json
/starter-app/!.vscode/extensions.json
/basics-assignment-1-start/.vscode/*
/basics-assignment-1-start/!.vscode/settings.json
/basics-assignment-1-start/!.vscode/tasks.json
/basics-assignment-1-start/!.vscode/launch.json
/basics-assignment-1-start/!.vscode/extensions.json
/basics-assignment-2-start/.vscode/*
/basics-assignment-2-start/!.vscode/settings.json
/basics-assignment-2-start/!.vscode/tasks.json
/basics-assignment-2-start/!.vscode/launch.json
/basics-assignment-2-start/!.vscode/extensions.json
/basics-assignment-3-start/.vscode/*
/basics-assignment-3-start/!.vscode/settings.json
/basics-assignment-3-start/!.vscode/tasks.json
/basics-assignment-3-start/!.vscode/launch.json
/basics-assignment-3-start/!.vscode/extensions.json

# misc
/starter-app/.sass-cache
/starter-app/connect.lock
/starter-app/coverage
/starter-app/libpeerconnection.log
/starter-app/npm-debug.log
/starter-app/testem.log
/starter-app/typings
/basics-assignment-1-start/.sass-cache
/basics-assignment-1-start/connect.lock
/basics-assignment-1-start/coverage
/basics-assignment-1-start/libpeerconnection.log
/basics-assignment-1-start/npm-debug.log
/basics-assignment-1-start/testem.log
/basics-assignment-1-start/typings
/basics-assignment-2-start/.sass-cache
/basics-assignment-2-start/connect.lock
/basics-assignment-2-start/coverage
/basics-assignment-2-start/libpeerconnection.log
/basics-assignment-2-start/npm-debug.log
/basics-assignment-2-start/testem.log
/basics-assignment-2-start/typings
/basics-assignment-3-start/.sass-cache
/basics-assignment-3-start/connect.lock
/basics-assignment-3-start/coverage
/basics-assignment-3-start/libpeerconnection.log
/basics-assignment-3-start/npm-debug.log
/basics-assignment-3-start/testem.log
/basics-assignment-3-start/typings

# e2e
/starter-app/e2e/*.js
/starter-app/e2e/*.map
/basics-assignment-1-start/e2e/*.js
/basics-assignment-1-start/e2e/*.map
/basics-assignment-2-start/e2e/*.js
/basics-assignment-2-start/e2e/*.map
/basics-assignment-3-start/e2e/*.js
/basics-assignment-3-start/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/starter-app/.DS_Store
/starter-app/Thumbs.db
/basics-assignment-1-start/.DS_Store
/basics-assignment-1-start/Thumbs.db
/basics-assignment-2-start/.DS_Store
/basics-assignment-2-start/Thumbs.db
/basics-assignment-3-start/.DS_Store
/basics-assignment-3-start/Thumbs.db
